@import url("color.css");
div {
    height: 200px;
    width: 200px;
}

.lg {
    background: linear-gradient(180deg, rgb(226, 119, 119), rgb(128, 122, 122));
}

.lg_2 {
    background: linear-gradient(45deg, #c00, #0c0 30%, rgb(220, 231, 62));
}

.lg_3 {
    background: linear-gradient(270deg, #c00, rgb(212, 226, 15));
}

.rg {
    background: radial-gradient(at right top, #c00, #000);
    border-radius: 300px;
}

a {
    color: #00c;
    font-size: 200%;
    transition-property: color;
    transition-duration: 0.8s;
}

.block {
    background-color: #cc0;
    height: 300px;
    width: 30%;
    transition-duration: 0.5s;
    transition-timing-function: steps(4)
}

.block:hover {
    background-color: #330;
    height: 300px;
    width: 100%;
}

a:hover {
    color: #c00
}

.block_1 {
    background-color: #000;
    height: 200px;
    width: 200px;
}

.block_1:hover {
    animation-duration: 3s;
    animation-name: bc;
    animation-timing-function: ease-in;
}

@keyframes bc {
    0% {
        background-color: #000;
    }
    30% {
        background-color: #555;
    }
    70% {
        backdrop-color: #999;
    }
    100% {
        background-color: #fff;
    }
}

.t_1 {
    transform: rotate(-50deg);
    transform: scale(2, 4);
    transform-origin: bottom right;
}

p {
    font-size: 150%;
    color: brown;
}

ul {
    font-size: 200%;
    list-style: none;
}

li a span {
    display: inline-block;
    height: 150px;
    width: 150px;
}

li:nth-child(1) a span {
    color: #000;
    background: url("/LESSON-RUSAKOV/icons1/w257h2571389895762kombi.png") no-repeat;
    background-position: 0 -150px;
}

li:nth-child(2) a span {
    color: #000;
    background: url("/LESSON-RUSAKOV/icons1/w257h2571389895762Lamborghini.png.png") no-repeat;
    background-position: 0 -150px;
}

li:nth-child(3) a span {
    color: #000;
    background: url("/LESSON-RUSAKOV/icons1/w257h2571389895762FordMustang.png") no-repeat;
    background-position: 0 -150px;
}

li:nth-child(1) a {
    background-position: 0 0;
}

li:nth-child(2) a {
    background-position: 0 0;
}

li:nth-child(3) a {
    background-position: 0 0;
}


}