body {
    color: #000000;
    background-color: #ffffff;
    font-family: sans-serif;
    margin: 0px;
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a:link,
a:active,
a:hover {
    color: #680148;
}

a:visited {
    color: #ab86b6;
}

header {
    background-color: #e0eff1;
}

header h1 {
    margin: 0px;
}