body {
    color: #000000;
    background-color: #ffffff;
    font-family: sans-serif;
    margin: 0px;
    overflow: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a:link,
a:active,
a:hover {
    color: #680148;
}

a:visited {
    color: #ab86b6;
}

header {
    background-color: #e0eff1;
}

header h1 {
    margin: 0px;
}

section {
    padding: 5px;
    overflow: auto;
}

section {
    float: right;
    width: calc(100vw - 270px -10px);
    height: calc(100vh - 60px - 30px - 10px);
}

section {
    counter-reset: couter-h2 counter-h3 counter-h4 counter-h5 counter-h6;
}

section h2:before {
    counter-increment: counter-h2;
    counter-reset: counter-h3;
    content: counter (counter-h2) ". ";
}

section h3:before {
    counter-increment: counter-h3;
    counter-reset: counter-h4;
    content: counter (counter-h2) "." counter (counter-h3) ". ";
}

section h4:before {
    counter-increment: counter-h4;
    counter-reset: counter-h5;
    content: counter (counter-h2) "." counter (counter-h3) "." counter (counter-h4) ". ";
}

section h5:before {
    counter-increment: counter-h5;
    counter-reset: counter-h6;
    content: counter (counter-h2) "." counter (counter-h3) "." counter (counter-h4) "." counter (counter-h5) ". ";
}

section h6:before {
    counter-increment: counter-h6;
    content: counter (counter-h2) "." counter (counter-h3) "." counter (counter-h4) "." counter (counter-h5) ". "counter (counter-h6) ". ";
}

div.media {
    text-align: center;
    margin: 20px 0px 0px 0px;
}

div.media img,
div.media audio,
div.media video {
    max-width: calc(100% - 40px);
    max-height: 300px;
}

div.media~div.sign {
    font-style: italic;
    text-align: center;
}

form {
    display: block;
    padding: 5px;
    border: 1px solid #e0eff1;
}

form .label {
    margin: 10px 0px 2px 0px;
}

form .label:first-child {
    margin-top: 0px;
}

input,
textarea,
select {
    border: 4px double #7db4b5;
    transition: border-color 1s;
}

textarea {
    font-family: monospace;
    width: calc(100% - 10px);
}

input:focus,
textarea:focus,
select:focus,
input:hover,
textarea:hover,
select:hover {
    border: 4px double #680148;
    transition: border-color 0.5s;
}

form .button {
    text-align: right;
    margin: 15px 0px 0px 0px;
}

input [type=submit],
input [type=button],
input [type=reset] {
    font-weight: bold;
    background-color: #7db4b5;
    min-width: 60px;
    border: 1px solid #7db4b5;
    transition: color 1s, background-color 1s, border-color 1s;
}

input [type=submit]:focus,
input [type=button]:focus,
input [type=reset]:focus,
input [type=submit]:hover,
input [typebutton]:hover,
input [type=reset]:hover {
    color: #ffffff;
    background-color: #680148;
    border: 1px solid #680148;
    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

input,
textarea,
select {
    font-size: 10pt;
}

input [type=submit],
input [type=button],
input [type=reset] {
    cursor: pointer;
}

footer {
    background-color: #e0eff1;
}

footer p {
    font-style: italic;
    text-align: right;
    margin: 0px;
}