<?php
// Copyright (c) Igor Anikeev http://www.arwshop.ru/ 

 // Если файл загружен не из движка - завершаем программу
 if(! defined('SYS_LOADER')){
 die();
 }

global $pmmod_conf;
$pmmod_conf = array();

/*************************** НАСТРОЙКИ МОДУЛЯ ********************************/


// Название модуля
$pmmod_conf['pmmod_title'] = 'Интеркасса' ;


// Идентификатор кассы. Посмотрите в настройки кассы в личном кабинете Интеркасса
// там он показывается под названием кассы в виде ID xxxxxxxxxxxxxxxxxxxxxxxx
// здесь нужно указать идентификатор в виде xxxxxxxxxxxxxxxxxxxxxxxx без букв "ID"
$pmmod_conf['ik_co_id'] = '4b2cc1b2ce2e84246e7c51f4' ;


// Валюта, в которой выставляется счет (та же, которая выбрана в настройках этого способа оплаты в панели администрирования магазина).
// RUB, USD, EUR, UAH, BYR. Актуальная информация по кодам валют доступна на сайте Интеркасса
$pmmod_conf['ik_cur'] = 'RUB' ;


// Секретный ключ такой же как в личном кабинете Интеркасса (Настройки кассы / вкладка "Безопасность")
$pmmod_conf['secret_key'] = 'YIFnAM1TNCspmZYw' ;


// Тестовый ключ такой же как в личном кабинете Интеркасса (Настройки кассы / вкладка "Безопасность")
$pmmod_conf['test_key'] = 'GdR1DhRGX7excRtg' ;


// Тестовый режим
// 1 - включить тестовый режим
// 0 - отключить тестовый режим (включить рабочий режим)
$pmmod_conf['test_mode'] = 1 ;



/****************************************************************************/

?>