h {
    text-align: center;
}

br {
    text-indent: 30px;
}

div {
    /*по скроллинг текста за пределами блока*/
    line-height: 30px;
    overflow: scroll;
    word-wrap: break-word;
}

div h1 {
    letter-spacing: 4px;
    margin: 0;
    color: #C00;
    text-align: center;
    font-size: 300%;
}

.d1 {
    border: 2px solid #C00;
    position: fixed;
    top: 0;
    background: rgb(122, 243, 148);
    height: 100px;
    width: 100%;
}

.d2 {
    font-size: 200%;
    border: 2px solid #C00;
    position: absolute;
    /* background: rgb(241, 232, 143);*/
    background: linear-gradient(180deg, rgb(103, 109, 18), rgb(240, 225, 185));
    float: left;
    left: 5px;
    margin-top: 65px;
    height: 85%;
    width: 10%;
    z-index: 4;
}

.d2:hover {
    border: 2px solid #C00;
    position: absolute;
    background: rgb(235, 230, 194);
    float: left;
    left: 5px;
    margin-top: 65px;
    height: 85%;
    width: 50%;
    z-index: 10;
}

.d3 {
    font-size: 150%;
    color: rgba(4, 66, 14, 0.918);
    border: 2px solid #C00;
    float: left;
    position: absolute;
    /*background: rgb(228, 83, 83);*/
    background: linear-gradient(135deg, rgb(230, 127, 149), rgb(240, 225, 185));
    /*left: 215px;*/
    margin-top: 65px;
    margin-left: 10%;
    height: 85%;
    width: 30%;
    z-index: 3;
}

.d3:hover {
    font-size: 150%;
    color: rgba(4, 66, 14, 0.918);
    border: 2px solid #C00;
    float: left;
    position: absolute;
    /*background: rgb(228, 83, 83);*/
    background: linear-gradient(135deg, rgb(241, 230, 233), rgb(230, 220, 195));
    /*left: 215px;*/
    margin-top: 65px;
    margin-left: 10%;
    height: 85%;
    width: 50%;
    z-index: 11;
}

.d4 {
    border: 2px solid #C00;
    float: left;
    position: absolute;
    background: rgb(226, 182, 188);
    /*left: 215px;*/
    margin-top: 65px;
    margin-left: 40%;
    height: 85%;
    width: 30%;
    z-index: 2;
}

.d4:hover {
    line-height: 2;
    font-size: 150%;
    border: 2px solid #C00;
    float: left;
    position: absolute;
    background: rgb(234, 240, 210);
    /*left: 215px;*/
    margin-top: 65px;
    margin-left: 40%;
    height: 85%;
    width: 50%;
    z-index: 2;
}

.d5 {
    border: 2px solid #C00;
    /*left: 65% - 210px;*/
    /*padding-left: 10px;*/
    float: left;
    position: absolute;
    background: rgb(85, 95, 235);
    background: linear-gradient(180deg, rgb(85, 95, 235), rgb(240, 225, 185));
    margin-top: 65px;
    margin-left: 70%;
    height: 85%;
    width: 30%;
    z-index: 1;
}

.d5:hover {
    border: 2px solid #C00;
    /*left: 65% - 210px;*/
    /*padding-left: 10px;*/
    float: left;
    position: absolute;
    background: rgb(85, 95, 235);
    background: linear-gradient(180deg, rgb(85, 95, 235), rgb(240, 225, 185));
    margin-top: 65px;
    margin-left: 70%;
    height: 85%;
    width: 50%;
    z-index: 10;
}

.shadow {
    text-shadow: 5px 4px #ffae;
}

div a {
    margin-top: 10px;
}