div h1 {
    letter-spacing: 4px;
    margin: 0;
    color: #C00;
    text-align: center;
    font-size: 300%;
}

.d1 {
    border: 2px solid #C00;
    position: fixed;
    top: 0;
    background: rgb(122, 243, 148);
    height: 100px;
    width: 100%;
}

.d2 {
    border: 2px solid #C00;
    position: absolute;
    background: rgb(241, 232, 143);
    float: left;
    left: 5px;
    margin-top: 65px;
    height: 85%;
    width: 10%;
    z-index: 4;
}

.d2:hover {
    border: 2px solid #C00;
    position: absolute;
    background: rgb(235, 230, 194);
    float: left;
    left: 5px;
    margin-top: 65px;
    height: 85%;
    width: 400px;
    z-index: 10;
}

.d3 {
    border: 2px solid #C00;
    float: left;
    position: absolute;
    background: rgb(228, 83, 83);
    /*left: 215px;*/
    margin-top: 65px;
    margin-left: 10%;
    height: 85%;
    width: 30%;
    z-index: 3;
}

.d4 {
    border: 2px solid #C00;
    float: left;
    position: absolute;
    background: rgb(226, 182, 188);
    /*left: 215px;*/
    margin-top: 65px;
    margin-left: 40%;
    height: 85%;
    width: 30%;
    z-index: 2;
}

.d5 {
    border: 2px solid #C00;
    /*left: 65% - 210px;*/
    /*padding-left: 10px;*/
    float: left;
    position: absolute;
    background: rgb(85, 95, 235);
    margin-top: 65px;
    margin-left: 70%;
    height: 85%;
    width: 30%;
    z-index: 1;
}