html{height:100%;}
body{min-height:100%; min-width:300px; position:relative; margin:0px; padding:0px; color:#000000; background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:14px;}
* html body{height:100%;}
.header{min-height: 40px; background-color: #c8d8e6; border-bottom: 2px solid #eaf5ff;}
.heaBl{margin-bottom:5px; vertical-align: middle;}
.hdrLeft{display: inline-block; vertical-align: middle;}
.hdrRight{display: inline-block; margin-left: 50px; margin-right: 12px; vertical-align: middle}
.hrightText img{vertical-align:middle;margin-right:8px;}
.comlnk{font-size:20px;margin-right:20px;vertical-align:middle;}

.wrapper{width:100%; overflow:auto; padding-bottom:80px;}
.right{float:right; width:100%; margin-left:-170px;}
.content{margin-left: 170px; padding-left: 10px; padding-right: 10px; overflow: auto;}
.lftMenuWrp{float:left;}
#leftMenu{width: 168px; border: 1px solid transparent;background: #ffffff;}
#leftMenu ul{margin:0px; padding-left:26px; list-style-image:url(img/mst.gif);}
#leftMenu li{padding-top:5px; padding-bottom:5px; border-bottom: 1px solid #cccccc;}

.footer{width:100%; height:54px; background-color:#b9c2d9; border-top:2px groove #ffffff; border-bottom: 1px inset #ffffff; text-align:center; position:absolute; bottom:0px; width:100%;}
.fooBl{padding:10px; margin:8px; border-top:1px solid #ffffff; border-bottom:1px solid #ffffff;}

.ahdr{background-color:#c8d8e6;}
.aftr{background-color:#b9c2d9;}

table{font-family: Arial, Helvetica, sans-serif; font-size:14px;}
img{border:0px;}
a:link{color: #000bd7; text-decoration:none;}
a:visited{color: #000bd7; text-decoration:none;}
a:hover{color: #ff0000; text-decoration:underline;}
a:active{color: #000bd7;}
a.cl{font-size:18px; text-decoration:underline;}
span.scl a:link{font-size:14px; color:#000bd7; text-decoration:none;}
span.scl a:visited{font-size:14px; color:#000bd7; text-decoration:none;}
span.scl a:hover{font-size:14px; color:#0080cc; text-decoration:underline;}
span.scl a:active{font-size:14px; color:#ff0000; text-decoration:underline;}
h1{font-size:17px;}
.sm1{padding-left:8px; font-size:12px;}
.sm2{font-size:14px;}
.txtcnt{border: 0; background: #ffffff; font: 10px;}

.settbl {
width:100%;
border-collapse:collapse;
border: 2px solid #f0f0f4;
margin-top:5px;
margin-bottom:5px;
}

.settbl td {
padding: 4px;
}

.htr{background-color: #c8d8e6; color:#133f66; font-size:13px; font-weight:bold;}
.htr td{vertical-align:top;padding:4px;}
.str{background-color: #ffffff;}
.str:hover, .ttr:hover{background-color: #eefaee;}
.ttr{background-color: #f4f4f7;}
.ftr{background-color: #b9c2d9;}
.ftr td{padding:4px;}

input[type="submit"], button, input[type="reset"]{padding-left:5px; padding-right:5px; padding-top:1px; padding-bottom:1px;background-color:#c8d8e6; font-size:14px; color:#133f66; border-radius:4px;}

.red{color:#ff0000;}
.warn{color:#D0602F;}
.stimg{width:13px;height:13px;vertical-align:middle;}

.OrderTotal td{padding: 4 0 4 0; border-bottom: solid 1px #000000;}

.CatPrImg{
margin-right:3px;
margin-bottom:3px;
}

.allSettings{
list-style-type: none;
margin: 0px;
padding: 0px;
}

.allSettings li{
display: inline-block;
width: 300px;
vertical-align: top;
background: url(img/st.gif) no-repeat 0px 4px;
background-position: 0px 1px;
background-repeat: no-repeat;
padding-left: 18px;
margin: 12px;
}

.allSettings .stimg{
margin-right: 4px;
}

.InputFile{
border-right: #c8d8e6 2px solid;
border-top: #c8d8e6 2px solid;
font-size: 12px;
border-left: #c8d8e6 2px solid;
border-bottom: #c8d8e6 2px solid;
color: #133f66;
}

.pComHdr{
background-color: #c8d8e6;
padding: 3px;
}

.pComHdr td{
padding: 3px;
}

.nowrap{
white-space: nowrap;
}

.msg{padding:5px; margin-top:8px; margin-bottom:8px;background:#ffffff;}
.msgHdr{font-size:17px; font-weight:bold;}
.errMsg{color:#ff0000; border:solid 2px #ff0000;}
.successMsg{border:solid 2px #009d00;}
.alignCenter{text-align:center;}

.mainPageBl {
border: 2px solid #f0f0f4;
margin-top: 20px;
border-radius: 9px;
}

.mainPageBlHeader {
background: #c8d8e6;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.mainPageBlHeader div {
display: inline-block;
margin: 10px;
white-space: nowrap;
}

.mainPageBl table {
display: inline-block;
padding: 30px;
}

.subcatList a {
display: inline-block;
margin: 4px;
}

.leftMenuButton {
display: none;
width: 24px;
height: 24px;
border: 1px solid transparent;
border-radius: 4px;
/* background: transparent; */
background: #c8d8e6;
margin-top: 8px;
margin-left: 3px;
cursor: pointer;
}

.leftMenuButton div {
width: 18px;
height: 3px;
margin: 4px 3px 4px 3px;
border-radius: 3px;
background: #ffffff;
}

 .leftMenuButton:hover {
 border: 1px solid #ffffff;
 }

/* Если ширина окна меньше заданного значения */
@media screen and (max-width: 1000px) {

 .header {
 text-align: center;
 }

 .hdrLeft{
 margin-left: 30px;
 }

 .hdrLeft img {
 max-width: 100px;
 }

 .hrightText {
 margin-bottom: 4px;
 }

 .hrightText img {
 max-width: 16px;
 margin-right: 6px;
 }

 .comlnk {
 font-size: 14px;
 }

 /* всплывающее при наведении .lftMenuWrp:hover #leftMenu{display: block;} */

 .leftMenuButton {
 display: block;
 position: absolute;
 left: 0px;
 top: 0px;
 z-index: 1000;
 }

 #leftMenu {
 display: none;
 position: relative;
 z-index:1001;
 border: 1px solid #cccccc;
 }

 .content {
 margin-left: 0px;
 }

.settbl td {
font-size: 12px;
}

 .footer {
 position: absolute;
 bottom: 0px;
 }

}
