html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
}

p {
    text-indent: 25px;
}

body {
    background-color: #d2f1b8;
}

.rightpic {
    float: left;
    /* Выравнивание по левому краю */
    margin: 0 0 0 0
    /* Отступы вокруг фотографии */
}

.button {
    width: 250px;
    height: 40px;
    border: 3px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    /*padding: 12px 24px;*/
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0, inset rgba(255, 255, 255, 0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #eff1f2;
    font-size: 17px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
}

.dv0 {
    border: 1px solid rgb(19, 19, 18);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #97ccb6;
    z-index: 0;
}

.dv1-1 {
    border: 0px solid rgb(19, 19, 18);
    height: 100px;
    width: 100%;
    background-color: #ecaad8;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index: 2;
}

.dv1 {
    border: 1px solid rgb(19, 19, 18);
    height: 100%;
    width: 5%;
    background-color: #4de680;
    position: absolute;
    margin: 0;
    top: 0;
    z-index: 3;
    box-sizing: border-box;
}

.dv2 {
    border: 1px solid rgb(19, 19, 18);
    float: right;
    height: 100%;
    width: 95%;
    background-color: #4de680;
    position: relative;
    z-index: 4;
}

.dv3_2 {
    top: 0px;
    border: 1px solid rgb(19, 19, 18);
    height: 80%;
    width: 100%;
    background-color: #e1e977;
    position: relative;
    z-index: 5;
    margin: 0 auto;
    box-sizing: border-box;
    /*font-size: 0;*/
}

.dv3 {
    border: 1px solid rgb(19, 19, 18);
    left: 0px;
    top: 0px;
    height: 99%;
    width: 30%;
    background-color: #f0a896;
    position: absolute;
    z-index: 6;
    font-size: 14;
    display: inline-block;
}

.dv3-1 {
    border: 1px solid rgb(19, 19, 18);
    left: 0px;
    top: 0px;
    height: 99%;
    width: 100%;
    background-color: #f0a896;
    position: absolute;
    z-index: 6;
    font-size: 14;
    display: inline-block;
}

.dv3-15 {
    border: 1px solid rgb(19, 19, 18);
    left: 50%;
    top: 0px;
    height: 100%;
    width: 50%;
    background-color: #96a6f0;
    position: relative;
    z-index: 6;
    font-size: 14;
    /* display: inline-block;*/
}

.dv3-15-1 {
    border: 1px solid rgb(19, 19, 18);
    left: 0%;
    top: 0px;
    height: 50%;
    width: 100%;
    background-color: #c2f1b0;
    position: absolute;
    z-index: 6;
    font-size: 20;
    /* display: inline-block;*/
}

.dv3-15-2 {
    border: 1px solid rgb(19, 19, 18);
    left: 0px;
    top: 50%;
    height: 50%;
    width: 100%;
    background-color: #96f0a5;
    position: relative;
    z-index: 6;
    font-size: 20;
    /* display: inline-block;*/
    overflow: hidden;
}

.dv4 {
    border: 1px solid rgb(19, 19, 18);
    top: 0px;
    left: 30%;
    float: left;
    height: 99%;
    width: 35%;
    background-color: #f0a896;
    position: relative;
    z-index: 7;
    font-size: 14;
    /* display: inline-block;*/
}

.dv5 {
    border: 1px solid rgb(19, 19, 18);
    position: absolute;
    top: 0px;
    left: 0%;
    height: 100%;
    width: 50%;
    background-color: #f0a896;
    /*position: relative;*/
    /* margin-right: 1%;*/
    z-index: 8;
    font-size: 14;
    /*display: inline-block;*/
    overflow: hidden;
    overflow-x: scroll;
    /* прокрутка по горизонтали */
    overflow-y: scroll;
    /* прокрутка по вертикали */
}

.dv6 {
    border: 1px solid rgb(19, 19, 18);
    /*top: 95%;*/
    height: 10%;
    width: 100%;
    background-color: #a19fe4;
    position: relative;
    margin-bottom: 0;
    z-index: 9;
}